.addBasket{
    background-color:grey;
    border: none;
    color: #333;
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    font-size: 0.9rem;
    font-weight: bold;

   &:hover, &:focus{
        background-color: white;
    }
}


