.basket{
    position: absolute;
    top:50px;
    right:16px;
    width: 50%;
    z-index: 1;
    background-color: white;
    box-shadow: 1px 5px 5px #cecece;
    list-style: none;
    text-align: left;
    -webkit-animation: fadein .2s; 
       -moz-animation: fadein .2s; 
        -ms-animation: fadein .2s; 
         -o-animation: fadein .2s;
            animation: fadein .2s;

    li {
        list-style: none;
        margin: 1rem;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}