.card {
    width:25%;
    display: block;
    list-style: none;
   
    .card-body{
        margin: 1rem; 
        font-weight: bold;
        font-size: 0.9rem;
        background-color: white;
        padding: 1rem;

        ul{
            list-style: none;
            padding: 0.5rem 0;
            margin: 0;
            min-height: 90px;
            flex-direction: column;

            li{
                text-align: left;
                padding-bottom: 0.2rem ;
            }
        }
    }
    
    @media (min-width: 320px) {  
        width:100%;
    }
     
    @media (min-width: 768px) {  
        width:50%;
    }
    
    @media (min-width: 992px) { 
        width:33.3%;
    }
     
    @media (min-width: 1200px) {  
        width:25%;
    }
}

