header{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end ;
    position: relative;

    button{
        background-color:white;
        border: none;
        color: #333;
        padding: 1rem;
        margin: 1rem;
        width: 100px;
    }
}