.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

main{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 1rem;
    justify-content:center;
    flex-direction: column;
    background-color: #cdcdcd;
}